body{
    background-color: #c0c0c02c;
}

.sticky{
    position: sticky;
    position:-webkit-sticky;
    top: 0;
    z-index: 100;

}

.MainContent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2.5%;
    flex-direction: column;
    background-color: white;
    border-radius: 50px;
    width: 90%;
    margin: 5%;
    padding-bottom: 50px;
}
.Content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    background-color: white;
    padding: 15px;
    border-radius: 50px;
}



.MovieList{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}


.col{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.card{
    width: 90%;
    border-radius: 25px;
    text-align: center;
}
.card>img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    max-height: 520px;
}

.MovieRating{
    margin-bottom:5%;
}

.searchform{
    margin-top: 5%;
width: 100%;

}

.NoMovie{
    margin-top: 2.5%;
    text-align: center;
    width: 100%;

}


.AddMovie{
    display: flex;
    justify-content: center;
    position:relative;
    margin-top: 1.5%;
}

.btn{
    background-color: goldenrod;
    border: goldenrod;
}

.btn:hover{
    background-color: #d19704	;
}